<img src="assets/images/scholarship.png" alt="IMG" style="height: 300px;width:100%;">
<div class="navbar">
  <a routerLink="/main-home-page">Home</a>
  <a routerLink="/about-us">About Us</a>
  <a routerLink="/contact-us">Contact Us</a>
 
 


</div>
    



<br><br>


<div id="header"><h2>COTACT US FORM</h2></div>
  
<div id="contact">
<form>
  <div id="on">
  <img src="https://cdn4.iconfinder.com/data/icons/flatified/128/plane.png">
   <div id="off" ><img src="https://i.imgur.com/NMzSq1m.png"></div></div>
  
  <h1> Stuck Anywhere?? Tell Us</h1>
  <input class="akash" type="text" placeholder="Enter your good name here" required/>
  
  <input class="akash" type="email" placeholder="Enter your email ID" required/>
  
   <textarea rows="4" cols="90" name="subject" placeholder="Say Hello..." class="message" required></textarea>
  
  <input class="sub" type="submit" value="Send"/>
  </form>
  
    </div>