<img src="assets/images/scholarship.png" alt="IMG" style="width:100%; height:300px;">
    <div class="navbar">
      <a routerLink="/main-home-page">Home</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/contact-us">Contact Us</a>
      <a routerLink="/institute-login"> Institute Login</a>
      <div class="dropdown">
        <button class="dropbtn">
          <i>New Registration</i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/student-registration"> Student Registration</a>
          <a routerLink="/institute-registration"> University Registration</a>
          
        </div>
      </div> 
    <div class="dropdown">
        <button class="dropbtn">
          <i>Track Institute Application Status </i>
       
     </button>
        <div class="dropdown-content">
          
          <a routerLink="/track-institute-application-status">Institute Application Status</a>
          
        </div>
      </div> 
    <div class="dropdown">
        <button class="dropbtn">
          <i>Officers Login</i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/nm-login">Ministry Login</a>
          <a routerLink="/nm-login">Nodal Officer Login</a>
          
        </div>
      </div> 
    </div>
    

    
    
    
    <div >
        <h2 style="text-align: center;">About Us</h2>
        <p><strong>National Scholarships Portal</strong> is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)
               </p>
        <h4>Vision</h4>
       
        <p>National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal	of various scholarships to Students are enabled. <br> This initiative aims at providing a Simplified, Mission-oriented,	Accountable, Responsive & Transparent <strong>'SMART'</strong> System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.	
         </p>
       
               <h4>Mission</h4>
               <p>The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims	at providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State Government and Union Territories across the country.	
               </p>
       
               <h4>Objectives</h4>
               <ul>
                   <li >Ensure timely disbursement of Scholarships to students
                   </li>
                   <li>Provide a common portal for various Scholarships schemes of Central and State Governments
                   </li>
                   <li>Create a transparent database of scholars
                   </li>
                   <li>Avoid duplication in processing
                   </li>
                   <li>Harmonisation of different Scholarships schemes & norms
                   </li>
                   <li>Application of Direct Benefit Transfer
                   </li>
               </ul>
               <h4 >Benefits</h4>
               <div>
                   <h5>&nbsp; Simplified process for the students:</h5>
               <p>1:&nbsp;All scholarships information available under one umbrella.</p>
               <p>2:&nbsp;Single integrated application for all scholarships </p>
               
               
    </div>
     