<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <h1>National Scholarship Portal</h1>
  <p>Government Of India</p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h3 text align = "center"> Your registration has been completed successfully. Now you can login from the home page</h3>
  
<button class="block" text-align= "center" routerLink="/main-home-page">Back To Home Page</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br>


</body>
</html>