<section class="login100-form-title" style="background-color: lightgreen">
  <br>
  <h1>National Scholarship Portal</h1>

      <h3>Student Homepage</h3>
  </section>
    
    <div class="navbar">
      <a routerLink="/my-profile">My Profile</a>
      <a routerLink="/track-student-application-status">Track Application Status</a>
      <a routerLink="/student-registration">Update</a>
      <a routerLink="/main-home-page"> Logout</a>
    
    </div>
    
    <div class="row">
      <div class="column side">
      
        <h2>Latest Update</h2>
        <p></p>
    <marquee direction="up"  >
    
     <p style = "color:orange">  UGC- URH, PGProf, PGSGC, Ishan Uday- Institution verification have been extended upto 10.07.2020.</p>
    
      <p style = "color:lightgreen">   The MUKHYAMANTRI YUVA YOGAYOG YOJANA scheme for the State of Tripura will be opened in the portal from 06-05-2020 to 06-06-2020. Students of Tripura can apply in this scheme for the Academic Year 2019-20.</p> <br>
    
     <p style = "color:red">Attention Institutes</p>
    
     <p style = "color:blue">The Institutes which are registered on NSP 2.0 are required to submit Institute Registration Form for AY 2019-20. The Form is available in Institute Login.</p> 
    
    </marquee>
    
    
    
    
     <h2 > HELP DESK</h2>
     <br>
        <p>Candidates can contact the Help Desk for resolution of the technical problems

          0741 - 2869696</p>
      
    
    

    
    
    </div>
    
    
    
      <div class="column middle">
        <h2>INTRODUCTION</h2>
        
        
        <p style="font-family:italic;"> National Scholarship Portal (NSP) 2020 is a portal launched by 
          Ministry of Electronics and Information Technology, Government of India. 
    This portal provides various scholarships to SC/ ST/ OBC/ Minority students. Applicants can apply/ registration 
    online for the schemes listed further. 
    Appliers can read the further session of this page to collect the information like eligibility criteria, 
    Those applicants who are belonging to the economically backward
    caste/category such as SC/ ST/ OBC or other minorities’ categories are required
    to check if they come under the eligibility criteria provided by the Directorate of
    
    Technical education, Maharashtra Government.
  </p>
    <ol type="1" style="color:red;">

      <li>The candidates applying for the Maharashtra Merit cum Means
        Scholarship 2017-2018 must have completed 10th and 12th from a
        recognized board with a minimum of 60% marks in aggregate.</li>
      
    
      <li> Maximum two members of a family belonging to the minority category can
        apply for the scholarship.</li>
        <li>Students applying for the Maharashtra Merit cum Means Scholarship
        2020-2021 must have Aadhaar Card enrolled in the State.</li>
        <li>The applicant must produce all the documents prescribed by the state.
        registration procedure, the procedure to submit a renewal application, 
        documents required and other relevant information.</li>
        
    
    </ol>
  
    
  
     
      <h1 >                                                                       
        Scheme Description</h1>
  
    <button class="block" routerLink="/apply-for-scholarship">Apply For Scholarship</button>
     </div>

      <div class="side">
        <h2  >GUIDLINES</h2>
        
        <ol type="1" style="color:red;">

          <li>Check if you are eligible.</li>
          <li>Include all required information while applying for scholarship.</li>
          <li>Provide correct information</li>
          <li>Don't miss the deadline</li>
        </ol>
        
      
         
    </div>